/* Feel free to change any of the styling below!*/
body {
    text-align: center;
background-image: linear-gradient(lightblue, white);
    
}

img {
    width: 350px;
    border: 20px groove white;
   
}

.title {
    font-size: 50px;
    font-weight: 800;
    font-family: "Comic Sans";
font-size: 100px;
text-align: center;
color: Black;
}

.buttons1 {
    display: flex;
    justify-content: center;

}

p {
    font-size: 30px;
    font-weight: 800;
}


button{
    height: 40px;}


h1 {
    font-size: 50px;
    color: black;
  
}


/* When someone enters your game, you only want them to see the opening and the option buttons. The code below will use the display property to hide certain parts of the story. Remove the comments from the code below when you're ready for that step!*/


.story-opening{
 
}


.buttons{

}


 
.option-one-screen{
   display:none;
}


 
.option-two-screen{
   display:none;
}


 
.option-one-end{
   display:none;
}


.option-two-end{
  display:none;
}

.option-sleep1 {

}

.option-watch{
    
}
/*
.option-close {
    display:none;
}
*/
.option-stay1{
    display:block;
}